<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.startup">
		<startup class="com.pw.smartselect.SmartSelector"/>
	</extension>

   <extension point="org.eclipse.ui.preferencePages">
      <page name="%Pref-Page-Name-1"
            class="com.pw.smartselect.preferences.SmartSelectPrefs"
            id="com.pw.smartselect.preferences.smartselectprefs">
      </page>
   </extension>
</plugin>
